@charset "UTF-8";

/*
Layout Tablet (de 641px até 1023px):
*/
@media screen and (min-width: 641px) and (max-width: 1023px){
    section#sobre-a-loja {
        display: block;
    }

    section#sobre-a-loja div.imagem img {
        display: block;
        margin: auto;
        min-width: 100%;
    }

    section#sobre-a-loja div.info {
        min-width: 100%;
        margin: 20px auto;
    }

    section#produtos div.itens {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        column-gap: 2%;
    }
}

/*
Layout PC (até 1024px):
*/

@media screen and (max-width: 640px){
    section#sobre-a-loja {
        display: block;
    }

    section#sobre-a-loja div.imagem img {
        display: block;
        margin: auto;
        max-width: 100%;
    }

    section#sobre-a-loja div.info {
        min-width: 100%;
        margin: 20px auto;
    }

    section#produtos div.itens {
        display: block;
    }
}